In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams["patch.force_edgecolor"] = True
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.labelsize'] = 16
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
plt.style.use(['seaborn-darkgrid', 'seaborn-deep'])
plt.rcParams["patch.force_edgecolor"] = True
%matplotlib inline


from IPython.core.display import HTML
HTML("<style>.container { width:100% !important; }</style>")

In [2]:
df = pd.read_csv('zoning_for_farmers_markets.csv')

In [3]:
df.head()

,ZCODE_VERSION,ZONE_DESCRIPTION,NBHD_CONTEXT,ZONE_DISTRICT_GROUP,ZONE_USE_FORM,ZONE_DISTRICT,ZONE_DIST_TYPE,OVERLAY_DISTRICT,WAIVERS,CONDITIONS,PUD_NUM,PUD_STD_ZONE_DIST,ORD_NUM,ORD_YEAR,PBG,NOTES,GIS_NOTE,PUD_DOCUMENT,GLOBALID
0,2010,Commercial Corridor (CC),SUBURBAN,S-CC,CC,S-CC-3X,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
1,2010,Main Street (MS),URBAN,U-MS,MS,U-MS-2,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
2,2010,Main Street (MS),URBAN EDGE,E-MS,MS,E-MS-3,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
3,2010,Main Street (MS),URBAN EDGE,E-MS,MS,E-MS-3,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
4,2010,Main Street (MS),URBAN,U-MS,MS,U-MS-2,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 19 columns):
ZCODE_VERSION          1255 non-null int64
ZONE_DESCRIPTION       1255 non-null object
NBHD_CONTEXT           1245 non-null object
ZONE_DISTRICT_GROUP    1255 non-null object
ZONE_USE_FORM          1043 non-null object
ZONE_DISTRICT          1255 non-null object
ZONE_DIST_TYPE         1255 non-null object
OVERLAY_DISTRICT       356 non-null object
WAIVERS                8 non-null object
CONDITIONS             3 non-null object
PUD_NUM                0 non-null float64
PUD_STD_ZONE_DIST      0 non-null float64
ORD_NUM                1255 non-null int64
ORD_YEAR               1255 non-null int64
PBG                    6 non-null object
NOTES                  89 non-null object
GIS_NOTE               36 non-null object
PUD_DOCUMENT           0 non-null float64
GLOBALID               1255 non-null object
dtypes: float64(3), int64(3), object(13)
memory usage: 186.4+ KB

In [7]:
df.nunique()

ZCODE_VERSION            2
ZONE_DESCRIPTION        14
NBHD_CONTEXT            11
ZONE_DISTRICT_GROUP     24
ZONE_USE_FORM            5
ZONE_DISTRICT           75
ZONE_DIST_TYPE           5
OVERLAY_DISTRICT         9
WAIVERS                  1
CONDITIONS               1
PUD_NUM                  0
PUD_STD_ZONE_DIST        0
ORD_NUM                108
ORD_YEAR                15
PBG                      1
NOTES                    9
GIS_NOTE                25
PUD_DOCUMENT             0
GLOBALID                 1
dtype: int64