In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams["patch.force_edgecolor"] = True
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.labelsize'] = 16
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
plt.style.use(['seaborn-darkgrid', 'seaborn-deep'])
plt.rcParams["patch.force_edgecolor"] = True
%matplotlib inline


from IPython.core.display import HTML
HTML("<style>.container { width:100% !important; }</style>")

In [2]:
df = pd.read_csv('zoning_for_farmers_markets.csv')

In [3]:
df.head()

,ZCODE_VERSION,ZONE_DESCRIPTION,NBHD_CONTEXT,ZONE_DISTRICT_GROUP,ZONE_USE_FORM,ZONE_DISTRICT,ZONE_DIST_TYPE,OVERLAY_DISTRICT,WAIVERS,CONDITIONS,PUD_NUM,PUD_STD_ZONE_DIST,ORD_NUM,ORD_YEAR,PBG,NOTES,GIS_NOTE,PUD_DOCUMENT,GLOBALID
0,2010,Commercial Corridor (CC),SUBURBAN,S-CC,CC,S-CC-3X,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
1,2010,Main Street (MS),URBAN,U-MS,MS,U-MS-2,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
2,2010,Main Street (MS),URBAN EDGE,E-MS,MS,E-MS-3,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
3,2010,Main Street (MS),URBAN EDGE,E-MS,MS,E-MS-3,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}
4,2010,Main Street (MS),URBAN,U-MS,MS,U-MS-2,Commercial Mixed Use,NaN,NaN,NaN,NaN,NaN,333,2010,NaN,NaN,NaN,NaN,{00000000-0000-0000-0000-000000000000}

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 19 columns):
ZCODE_VERSION          1255 non-null int64
ZONE_DESCRIPTION       1255 non-null object
NBHD_CONTEXT           1245 non-null object
ZONE_DISTRICT_GROUP    1255 non-null object
ZONE_USE_FORM          1043 non-null object
ZONE_DISTRICT          1255 non-null object
ZONE_DIST_TYPE         1255 non-null object
OVERLAY_DISTRICT       356 non-null object
WAIVERS                8 non-null object
CONDITIONS             3 non-null object
PUD_NUM                0 non-null float64
PUD_STD_ZONE_DIST      0 non-null float64
ORD_NUM                1255 non-null int64
ORD_YEAR               1255 non-null int64
PBG                    6 non-null object
NOTES                  89 non-null object
GIS_NOTE               36 non-null object
PUD_DOCUMENT           0 non-null float64
GLOBALID               1255 non-null object
dtypes: float64(3), int64(3), object(13)
memory usage: 186.4+ KB

In [7]:
df.nunique()

ZCODE_VERSION            2
ZONE_DESCRIPTION        14
NBHD_CONTEXT            11
ZONE_DISTRICT_GROUP     24
ZONE_USE_FORM            5
ZONE_DISTRICT           75
ZONE_DIST_TYPE           5
OVERLAY_DISTRICT         9
WAIVERS                  1
CONDITIONS               1
PUD_NUM                  0
PUD_STD_ZONE_DIST        0
ORD_NUM                108
ORD_YEAR                15
PBG                      1
NOTES                    9
GIS_NOTE                25
PUD_DOCUMENT             0
GLOBALID                 1
dtype: int64

In [8]:
add = pd.read_csv('addresses.csv')

In [9]:
add.head()

,ADDRESS_TYPE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,ADDRESS_NUMBER_PREFIX,ADDRESS_NUMBER,ADDRESS_NUMBER_SUFFIX,PREMODIFIER,PREDIRECTIONAL,...,POSTTYPE,POSTDIRECTIONAL,POSTMODIFIER,BUILDING_TYPE,BUILDING_IDENTIFIER,UNIT_TYPE,UNIT_IDENTIFIER,COMPOSITE_UNIT_TYPE,COMPOSIT_UNIT_IDENTIFIER,FULL_ADDRESS
0,S,3145360.0,1693366.0,39.735960,-104.983142,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,830,Unit,830,1200 N Grant St Unit 830
1,S,3145326.0,1693177.0,39.735441,-104.983265,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,202,Unit,202,1200 N Grant St Unit 202
2,S,3145359.0,1693227.0,39.735576,-104.983148,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,813,Unit,813,1200 N Grant St Unit 813
3,S,3145363.0,1693362.0,39.735949,-104.983130,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,828,Unit,828,1200 N Grant St Unit 828
4,S,3145366.0,1693212.0,39.735535,-104.983121,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,512,Unit,512,1200 N Grant St Unit 512

In [10]:
add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315394 entries, 0 to 315393
Data columns (total 21 columns):
ADDRESS_TYPE                315394 non-null object
X_COORD                     315394 non-null float64
Y_COORD                     315394 non-null float64
LATITUDE                    315394 non-null float64
LONGITUDE                   315394 non-null float64
ADDRESS_NUMBER_PREFIX       315394 non-null object
ADDRESS_NUMBER              315394 non-null float64
ADDRESS_NUMBER_SUFFIX       315394 non-null object
PREMODIFIER                 315394 non-null object
PREDIRECTIONAL              315394 non-null object
STREET_NAME                 315394 non-null object
POSTTYPE                    315394 non-null object
POSTDIRECTIONAL             315394 non-null object
POSTMODIFIER                315394 non-null object
BUILDING_TYPE               315394 non-null object
BUILDING_IDENTIFIER         315394 non-null object
UNIT_TYPE                   315394 non-null object
UNIT_IDENTIFIER             315394 non-null object
COMPOSITE_UNIT_TYPE         315394 non-null object
COMPOSIT_UNIT_IDENTIFIER    315394 non-null object
FULL_ADDRESS                315394 non-null object
dtypes: float64(5), object(16)
memory usage: 50.5+ MB

In [11]:
add.ADDRESS_NUMBER_SUFFIX.unique()

array(['None', '1/2', '11420', ' 2', 'REAR', 'B', 'A', 'VCNT', 'vcnt',
       'CA'], dtype=object)

In [16]:
add.PREDIRECTIONAL.unique()

array(['N', 'E', 'W', 'S', 'None'], dtype=object)

Index(['ADDRESS_TYPE', 'X_COORD', 'Y_COORD', 'LATITUDE', 'LONGITUDE',
       'ADDRESS_NUMBER_PREFIX', 'ADDRESS_NUMBER', 'ADDRESS_NUMBER_SUFFIX',
       'PREMODIFIER', 'PREDIRECTIONAL', 'STREET_NAME', 'POSTTYPE',
       'POSTDIRECTIONAL', 'POSTMODIFIER', 'BUILDING_TYPE',
       'BUILDING_IDENTIFIER', 'UNIT_TYPE', 'UNIT_IDENTIFIER',
       'COMPOSITE_UNIT_TYPE', 'COMPOSIT_UNIT_IDENTIFIER', 'FULL_ADDRESS'],
      dtype='object')

In [33]:
cols = ['ADDRESS_NUMBER_PREFIX', 'ADDRESS_NUMBER', 'ADDRESS_NUMBER_SUFFIX','PREMODIFIER', 'PREDIRECTIONAL', 'STREET_NAME', 'POSTTYPE','POSTDIRECTIONAL', 'POSTMODIFIER', 'BUILDING_TYPE','BUILDING_IDENTIFIER', 'UNIT_TYPE']

In [34]:
add2 = add[cols]

In [35]:
pd.concat(add2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [36]:
# df['period'] = df[['Year', 'quarter']].apply(lambda x: ''.join(x), axis=1)
add['concat'] = add[cols].apply(lambda x: ' '.join(x.astype('str')), axis=1)

In [39]:
add.concat.nunique()

211698