In [1]:
import gmaps
import gmaps.datasets
import os
import pandas as pd
import pickle
gmaps.configure(api_key=os.environ["GOOGLE_API"])
df = pickle.load(open("long_lat_split_unique.pkl", "rb"))
addresses = pd.read_csv('addresses.csv')

In [2]:
df_lat_lon = addresses[['LATITUDE', 'LONGITUDE']]
df_lat_lon_round = df_lat_lon.round(2)
df_lat_lon_round.head()

   LATITUDE  LONGITUDE
0     39.74    -104.98
1     39.74    -104.98
2     39.74    -104.98
3     39.74    -104.98
4     39.74    -104.98

In [3]:
df_lat_lon_round['count'] = df_lat_lon_round.groupby(['LATITUDE', 'LONGITUDE'])['LATITUDE'].transform('count')

In [4]:
df_new = df_lat_lon_round.drop_duplicates(inplace=False)

In [5]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482 entries, 0 to 287693
Data columns (total 3 columns):
LATITUDE     482 non-null float64
LONGITUDE    482 non-null float64
count        482 non-null int64
dtypes: float64(2), int64(1)
memory usage: 15.1 KB

In [6]:
df_new = df_new[['LATITUDE', 'LONGITUDE']]

In [7]:
new_fig = gmaps.symbol_layer(df_new, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 150, 0, 0.4)', scale=2
)
fig = gmaps.figure()
fig.add_layer(new_fig)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
df = df.round(2)

In [9]:
df['count'] = df.groupby(['LATITUDE', 'LONGITUDE'])['LATITUDE'].transform('count')

In [10]:
df.head()

   LATITUDE  LONGITUDE  count
0     39.74    -104.98   2952
1     39.74    -104.98   2952
2     39.74    -104.98   2952
3     39.74    -104.98   2952
4     39.74    -104.98   2952

In [13]:
top = pd.read_csv('data/top_farmers_zoned.csv')

In [14]:
top.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 6 columns):
Unnamed: 0    83 non-null int64
long_lat      83 non-null object
population    83 non-null int64
geo           83 non-null bool
Long          83 non-null float64
Lat           83 non-null float64
dtypes: bool(1), float64(2), int64(2), object(1)
memory usage: 3.4+ KB

In [15]:
top.columns

Index(['Unnamed: 0', 'long_lat', 'population', 'geo', 'Long', 'Lat'], dtype='object')

In [16]:
top.head()

   Unnamed: 0            long_lat  population   geo     Long     Lat
0           1  (-104.997, 39.746)         841  True -104.997  39.746
1           5  (-104.996, 39.745)         512  True -104.996  39.745
2           8  (-104.999, 39.756)         404  True -104.999  39.756
3           9  (-105.003, 39.756)         389  True -105.003  39.756
4          11  (-104.989, 39.696)         376  True -104.989  39.696

In [17]:
locations_zoned = top[['Lat', 'Long']]
weights_zoned = top['population']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations_zoned, weights=weights_zoned))
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
top_unzoned = pd.read_csv('data/top_farmers_not_zoned.csv')

In [19]:
top_unzoned.head()

   Unnamed: 0            long_lat  population    geo     Long     Lat
0           0  (-104.876, 39.704)         860  False -104.876  39.704
1           2  (-104.911, 39.635)         708  False -104.911  39.635
2           3  (-104.894, 39.629)         685  False -104.894  39.629
3           4   (-105.08, 39.635)         655  False -105.080  39.635
4           6  (-105.001, 39.755)         445  False -105.001  39.755

In [20]:
locations_unzoned = top_unzoned[['Lat', 'Long']]
weights_unzoned = top_unzoned['population']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations_unzoned, weights=weights_unzoned))
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
parks = pd.read_csv('~/Downloads/parks.csv')

In [88]:
parks.head()

,LOCATION,FORMAL_NAME,LOC_CODE,PARK_TYPE,PARK_CLASS,GIS_ACRES,DESIGNATED,FIRST_AQ_DATE,MASTER_PLAN,MAINT_DIST,...,STATE,ZIP,LATITUDE,LONGITUDE,MARKETING_CODE,FACILITIES,DIAGRAM,PHOTO,PARCEL_MATCH,BND_QC
0,Weir Gulch South,Weir Gulch Park - South,837,Park,Linear,10.509715,Partial,1960,2010,SW,...,CO,None,39.707758,-105.049778,PK,"Bike/Pedestrian Path, Weir Gulch Trail, Open S...",ParkArt_Weir Gulch Park South.pdf,images/parks/no_imagerec.gif,No,2009-02-18 00:00:00
1,Aztlan,Aztlan Park,032,Park,Neighborhood,3.688487,Yes,1974,None,NW,...,CO,None,39.777565,-105.004748,PK,"Recreation Center, Benches, Picnic Tables, Pla...",ParkArt_Aztlan Park.pdf,images/parks/atzlanpark.jpg,Yes,2008-11-20 00:00:00
2,Denver Botanic Gardens,Denver Botanic Gardens,356,Park,Special Use,22.751852,Partial - 1956,1890,2007,E,...,CO,None,39.732027,-104.961492,None,"Gardens, Fountains, Paid Admission Required",,images/parks/no_imagerec.gif,Yes,2009-09-16 00:00:00
3,Florida & Raritan,Sanderson Gulch - Florida & Raritan,851,Park,Linear,15.612426,Yes,1970,2010,SW,...,CO,None,39.688897,-105.012123,None,"Bike/Pedestrian Path, Sanderson Gulch Trail, B...",ParkArt_Sanderson Gulch Open Space.pdf,images/parks/sandersongulchpark.jpg,Yes,2009-08-11 00:00:00
4,Lowry Open Space,Lowry Open Space,L28,Open Space,Open Space,56.553171,Partial - 2014 May,2013,2000,NE,...,CO,None,39.719276,-104.880825,PK,"Dog Park, Natural Areas, Bike/Pedestrian Path",ParkArt_Lowry Open Space.pdf,None,No,2014-03-06 00:00:00

In [89]:
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 27 columns):
LOCATION          336 non-null object
FORMAL_NAME       336 non-null object
LOC_CODE          336 non-null object
PARK_TYPE         336 non-null object
PARK_CLASS        336 non-null object
GIS_ACRES         336 non-null float64
DESIGNATED        336 non-null object
FIRST_AQ_DATE     336 non-null object
MASTER_PLAN       332 non-null object
MAINT_DIST        336 non-null object
COUNCIL_DIST      336 non-null object
POLICE_DIST       336 non-null object
CROSS_STREETS     336 non-null object
ADDRESS_ID        336 non-null object
ADDRESS_LINE1     336 non-null object
ADDRESS_LINE2     336 non-null object
CITY              336 non-null object
STATE             336 non-null object
ZIP               336 non-null object
LATITUDE          336 non-null float64
LONGITUDE         336 non-null float64
MARKETING_CODE    336 non-null object
FACILITIES        336 non-null object
DIAGRAM           336 non-null object
PHOTO             336 non-null object
PARCEL_MATCH      336 non-null object
BND_QC            336 non-null object
dtypes: float64(3), object(24)
memory usage: 71.0+ KB

In [90]:
parks_coord = parks[['LATITUDE', 'LONGITUDE']]
parks_fig = gmaps.symbol_layer(parks_coord, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 150, 0, 0.4)', scale=2
)
fig = gmaps.figure()
fig.add_layer(parks_fig)
fig

Figure(layout=FigureLayout(height='420px'))