In [1]:
import pandas as pd

In [4]:
addresses_df = pd.read_csv('addresses.csv')

In [6]:
addresses_df.head()

,ADDRESS_TYPE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,ADDRESS_NUMBER_PREFIX,ADDRESS_NUMBER,ADDRESS_NUMBER_SUFFIX,PREMODIFIER,PREDIRECTIONAL,...,POSTTYPE,POSTDIRECTIONAL,POSTMODIFIER,BUILDING_TYPE,BUILDING_IDENTIFIER,UNIT_TYPE,UNIT_IDENTIFIER,COMPOSITE_UNIT_TYPE,COMPOSIT_UNIT_IDENTIFIER,FULL_ADDRESS
0,S,3145360.0,1693366.0,39.735960,-104.983142,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,830,Unit,830,1200 N Grant St Unit 830
1,S,3145326.0,1693177.0,39.735441,-104.983265,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,202,Unit,202,1200 N Grant St Unit 202
2,S,3145359.0,1693227.0,39.735576,-104.983148,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,813,Unit,813,1200 N Grant St Unit 813
3,S,3145363.0,1693362.0,39.735949,-104.983130,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,828,Unit,828,1200 N Grant St Unit 828
4,S,3145366.0,1693212.0,39.735535,-104.983121,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,512,Unit,512,1200 N Grant St Unit 512

In [10]:
addresses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315394 entries, 0 to 315393
Data columns (total 21 columns):
ADDRESS_TYPE                315394 non-null object
X_COORD                     315394 non-null float64
Y_COORD                     315394 non-null float64
LATITUDE                    315394 non-null float64
LONGITUDE                   315394 non-null float64
ADDRESS_NUMBER_PREFIX       315394 non-null object
ADDRESS_NUMBER              315394 non-null float64
ADDRESS_NUMBER_SUFFIX       315394 non-null object
PREMODIFIER                 315394 non-null object
PREDIRECTIONAL              315394 non-null object
STREET_NAME                 315394 non-null object
POSTTYPE                    315394 non-null object
POSTDIRECTIONAL             315394 non-null object
POSTMODIFIER                315394 non-null object
BUILDING_TYPE               315394 non-null object
BUILDING_IDENTIFIER         315394 non-null object
UNIT_TYPE                   315394 non-null object
UNIT_IDENTIFIER             315394 non-null object
COMPOSITE_UNIT_TYPE         315394 non-null object
COMPOSIT_UNIT_IDENTIFIER    315394 non-null object
FULL_ADDRESS                315394 non-null object
dtypes: float64(5), object(16)
memory usage: 50.5+ MB

In [12]:
addresses_df.nunique()

ADDRESS_TYPE                     4
X_COORD                      71281
Y_COORD                      64009
LATITUDE                    247531
LONGITUDE                   247553
ADDRESS_NUMBER_PREFIX            1
ADDRESS_NUMBER               14904
ADDRESS_NUMBER_SUFFIX           10
PREMODIFIER                      2
PREDIRECTIONAL                   5
STREET_NAME                    908
POSTTYPE                        14
POSTDIRECTIONAL                  2
POSTMODIFIER                     1
BUILDING_TYPE                    5
BUILDING_IDENTIFIER            486
UNIT_TYPE                       36
UNIT_IDENTIFIER               8875
COMPOSITE_UNIT_TYPE             34
COMPOSIT_UNIT_IDENTIFIER     11232
FULL_ADDRESS                315316
dtype: int64

In [17]:
addresses_df.UNIT_TYPE.nunique()

36

In [18]:
addresses_df.COMPOSITE_UNIT_TYPE.nunique()

34

In [22]:
addresses_df.UNIT_TYPE.unique()

array(['Unit', 'Apt', 'None', 'Gar', 'Rear', 'Ste', 'Util', 'Bldg', 'Spc',
       '#', 'Pk', 'Temp', 'Side', 'Front', 'Upper', 'Lower', 'Ph', 'Uppr',
       'ste', 'unit', 'Rm', 'Lowr', 'Bsmt', 'Lot', 'PH', 'FPK', 'RPK',
       'Mail Kiosk', 'Carport', 'Garage', 'Poolhouse', 'Clubhouse',
       'Tract', 'MISC IMPS', 'Parking', 'Shelter'], dtype=object)

In [23]:
addresses_df.FULL_ADDRESS.head()

0    1200 N Grant St Unit 830
1    1200 N Grant St Unit 202
2    1200 N Grant St Unit 813
3    1200 N Grant St Unit 828
4    1200 N Grant St Unit 512
Name: FULL_ADDRESS, dtype: object

In [24]:
addresses_df.columns

Index(['ADDRESS_TYPE', 'X_COORD', 'Y_COORD', 'LATITUDE', 'LONGITUDE',
       'ADDRESS_NUMBER_PREFIX', 'ADDRESS_NUMBER', 'ADDRESS_NUMBER_SUFFIX',
       'PREMODIFIER', 'PREDIRECTIONAL', 'STREET_NAME', 'POSTTYPE',
       'POSTDIRECTIONAL', 'POSTMODIFIER', 'BUILDING_TYPE',
       'BUILDING_IDENTIFIER', 'UNIT_TYPE', 'UNIT_IDENTIFIER',
       'COMPOSITE_UNIT_TYPE', 'COMPOSIT_UNIT_IDENTIFIER', 'FULL_ADDRESS'],
      dtype='object')

In [41]:
fields = ['ADDRESS_NUMBER_PREFIX', 'ADDRESS_NUMBER', 'ADDRESS_NUMBER_SUFFIX',
       'PREMODIFIER', 'PREDIRECTIONAL', 'STREET_NAME', 'POSTTYPE',
       'POSTDIRECTIONAL', 'POSTMODIFIER', 'BUILDING_TYPE',
       'BUILDING_IDENTIFIER', 'UNIT_TYPE', 'UNIT_IDENTIFIER']

In [43]:
addresses_df.shape

(315394, 21)

In [45]:
addresses_df_sample = addresses_df[:10]

In [46]:
addresses_df_sample['column']

,ADDRESS_TYPE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,ADDRESS_NUMBER_PREFIX,ADDRESS_NUMBER,ADDRESS_NUMBER_SUFFIX,PREMODIFIER,PREDIRECTIONAL,...,POSTTYPE,POSTDIRECTIONAL,POSTMODIFIER,BUILDING_TYPE,BUILDING_IDENTIFIER,UNIT_TYPE,UNIT_IDENTIFIER,COMPOSITE_UNIT_TYPE,COMPOSIT_UNIT_IDENTIFIER,FULL_ADDRESS
0,S,3145360.0,1693366.0,39.735960,-104.983142,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,830,Unit,830,1200 N Grant St Unit 830
1,S,3145326.0,1693177.0,39.735441,-104.983265,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,202,Unit,202,1200 N Grant St Unit 202
2,S,3145359.0,1693227.0,39.735576,-104.983148,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,813,Unit,813,1200 N Grant St Unit 813
3,S,3145363.0,1693362.0,39.735949,-104.983130,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,828,Unit,828,1200 N Grant St Unit 828
4,S,3145366.0,1693212.0,39.735535,-104.983121,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,512,Unit,512,1200 N Grant St Unit 512
5,S,3145327.0,1693353.0,39.735923,-104.983257,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,533,Unit,533,1200 N Grant St Unit 533
6,S,3145367.0,1693232.0,39.735589,-104.983119,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,614,Unit,614,1200 N Grant St Unit 614
7,S,3145359.0,1693271.0,39.735698,-104.983147,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,317,Unit,317,1200 N Grant St Unit 317
8,S,3145367.0,1693296.0,39.735766,-104.983117,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,320,Unit,320,1200 N Grant St Unit 320
9,S,3145359.0,1693271.0,39.735698,-104.983146,None,1200.0,None,None,N,...,St,None,None,None,None,Unit,617,Unit,617,1200 N Grant St Unit 617